layout {
    focus-ring {
        active-color "#{color8.strip}"
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45

        inactive-color "#{color0.strip}"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
}
