/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #06061a !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c1c1c5; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c1c1c5; background-color: rgba(183,128,103,0.4)}
.cm-s-nqqwal { background-color: #06061a; color: #c1c1c5; }
.cm-s-nqqwal span.cm-builtin { color: #b25a73; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #454580; }
.cm-s-nqqwal span.cm-keyword { color: #5fab62; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #51a0b4; }
.cm-s-nqqwal span.cm-def { color: #b29d60; }
.cm-s-nqqwal span.cm-variable { color: #b78067; }
.cm-s-nqqwal span.cm-variable-2 { color: #b29d60; }
.cm-s-nqqwal span.cm-string { color: #b25a73; }
.cm-s-nqqwal span.cm-string-2 { color: #b25a73; }
.cm-s-nqqwal span.cm-number { color: #b29d60; }
.cm-s-nqqwal span.cm-tag { color: #5fab62; }
.cm-s-nqqwal span.cm-property { color: #b78067; }
.cm-s-nqqwal span.cm-attribute { color: #b78067; }
.cm-s-nqqwal span.cm-qualifier { color: #51a0b4; }
.cm-s-nqqwal span.cm-meta { color: #b29d60; }
.cm-s-nqqwal span.cm-header { color: #5fab62; }
.cm-s-nqqwal span.cm-operator { color: #5fab62; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(178,157,96,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #5fab62; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #06061a); }
