@define-color foreground #c1c1c5;
@define-color background #06061a;
@define-color cursor #c1c1c5;

@define-color color0 #06061a;
@define-color color1 #c4705d;
@define-color color2 #b25a73;
@define-color color3 #5fab62;
@define-color color4 #51a0b4;
@define-color color5 #b29d60;
@define-color color6 #b78067;
@define-color color7 #8d8d98;
@define-color color8 #454580;
@define-color color9 #f6a18d;
@define-color color10 #dc8ba2;
@define-color color11 #90d494;
@define-color color12 #7ecce0;
@define-color color13 #ddc992;
@define-color color14 #e3b29c;
@define-color color15 #c1c1c5;
