// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

include "~/.cache/wal/colors.kdl"
include "input.kdl"
include "layout.kdl"
include "display.kdl"
include "keybinds.kdl"

spawn-at-startup "qs" "-c" "ii"
spawn-at-startup "/usr/lib/geoclue-2.0/demos/agent"
spawn-at-startup "hypridle"
spawn-at-startup "fcitx5"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "--all"
spawn-at-startup "hyprlock"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    // skip-at-startup
}

prefer-no-csd

// You can change the path where screenshots are saved.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Animation settings.
// The wiki explains how to configure individual animations:
// https://niri-wm.github.io/niri/Configuration:-Animations
animations {}

